{% extends 'player/registration/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Player | SignUp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

{% block body %}

     <p>
        <a href="{% url 'player:player_login' %}"><h4>Have an account?Click here to LogIn</h4></a>
    </p>

    <p><h3>SignUp to have an account</h3></p>
    <p>
 <div class="container">
     <form  method="POST">
         {% csrf_token %}
         {% for field in form %}

             <div class="form-group">

                {{ field.errors }}
                <b>{{ field.label_tag }}</b>
                 <p> {{ field }}</p>

             </div>

                {% if field.help_text %}
                     <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}

        {% endfor %}
         <button type="submit" class="btn btn-primary">Submit</button>

     </form>
 </div>
</p>
{% endblock %}
</html>
