

<title>{% block title%}Accounts{% endblock %}</title>

    <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://getbootstrap.com/docs/4.0/examples/dashboard/dashboard.css" rel="stylesheet">

    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <nav class="navbar-brand col-sm-3 col-md-2 mr-0">{{ user.get_full_name }}</nav>

        <form  class="form-inline w-100 my-2 my-lg-0" method="GET" action="{% url 'search:nav_search_matches' %}">
        <input  class="form-control form-control-dark w-100" type="text" name="q" placeholder="Search" aria-label="Search">
        </form>

      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap active">
          <a class="nav-link" href="{% url 'logout' %}">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'player:player_home' %}">
                  <span data-feather="home"></span>
                  Home <span class="sr-only"></span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'player:player_view_profile' %}">
                  <span data-feather="users"></span>
                  View Profile
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'player:player_edit_profile' %}">
                  <span data-feather="edit"></span>
                  Edit Profile
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'player:player_change_password' %}">
                  <span data-feather="lock"></span>
                  Change Password
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'player:player_view_performance' %}">
                  <span data-feather="bar-chart-2"></span>
                  Performance
                </a>
              </li>
            </ul>


            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Additional</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'player:my_tournaments' %}">
                  <span data-feather="alert-circle"></span>
                  My Tournaments
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'player:my_matches' %}">
                  <span data-feather="alert-circle"></span>
                  My Matches
                </a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'search:search' %}">
                  <span data-feather="alert-circle"></span>
                  Search
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="calendar"></span>
                  Calender
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="help-circle"></span>
                  Help
                </a>
              </li>
            </ul>
          </div>
        </nav>
{% load staticfiles %}
    <link  rel="stylesheet" type="text/css" href="{% static 'player/messages/base.css' %}">
      {% load staticfiles %}
       <link  rel="stylesheet" type="text/css" href="{% static 'player/base.css' %}">

 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

  {% block body %}


  {% endblock %}




