
    {% load staticfiles %}
           <link rel="stylesheet" type="text/css" href="{% static 'player/registration/base.css' %}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>{% block title%}{% endblock %}</title>

{% if user.username %}

    <a href="{% url 'player:player_home' %}"><h4>Home</h4></a>

    <a href="#"><h4>Performance</h4></a>

    <a href="{% url 'player:player_logout' %}"><h4>Logout</h4></a>

  {% endif %}

{% block body %}

{%  endblock %}

