

<!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>{% block title%}{% endblock %}</title>

{% if user.username %}
  <br>
    <a href="{% url 'player:player_home' %}"><h4>Home</h4></a>

    <p><h4>Profile</h4></p>

    <div class="container-fluid">
            <li> <a href="{% url 'player:player_view_profile' %}">View Profile</a> </li>
            <li> <a href="{% url 'player:player_edit_profile'  %}">Edit Profile</a> </li>
            <li> <a href="{% url 'player:player_change_password' %}">Change Password</a> </li>
    </div>

    <a href="#"><h4>Performance</h4></a>

    <a href="{% url 'player:player_logout' %}"><h4>Logout</h4></a>

  {% endif %}

{% block body %}

{%  endblock %}

