{% extends 'player/base.html' %}

{% block title %}{{ user.get_full_name }} | Change Password{% endblock %}

{% block body %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

              <div class="container">

        <p><h1>Your Profile</h1></p>

    <div  class="container col-md-6" style="border: 3px double #17252A;padding-top: 40px">
       {% load widget_tweaks %}
           <form  method="POST">

            {% csrf_token %}



                     <div class="form-group row">

                         <div class="col-md-2">


                         </div>

                         <div class="col-lg-8">
                          {% render_field form.old_password placeholder="old password" class="form-control" %}

                         </div>







                     </div>

                      <div class="form-group row">

                         <div class="col-md-2">


                         </div>

                         <div class="col-lg-8">
                      {% render_field form.new_password1 placeholder="set new password" class="form-control" %}

                         </div>




                     </div>



                      <div class="form-group row">

                         <div class="col-md-2">


                         </div>

                         <div class="col-lg-8">
                          {% render_field form.new_password2 placeholder="new password confirmation" class="form-control" %}

                         </div>




                     </div>

               <div class=" row">
                   <button type="submit" class="btn btn-primary mx-auto">Save Changes</button>
                </div>
          </form>


      </div>


        </div>

     </main>



{% endblock %}