{% extends 'player/base.html' %}

<title>{% block title%}My Matches{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/album/album.css" rel="stylesheet">


{% block body %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

            <h2><b>Your Recent Matches</b></h2><br>

      <div class="album py-5 bg-light">


          <div class="row">

              {% for match in matches %}

              {% if match.match_status == 2 %}

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">{{ match.name }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{% url 'search:match_details' match.id %}" class="btn btn-primary my-2">View</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

              {% endif %}

              {% endfor %}


          </div>
        </div>


    <h2><b>Your Upcoming Matches</b></h2><br>

    <div class="album py-5 bg-light">


          <div class="row">

              {% for match in matches %}

              {% if match.match_status == 0 %}

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">{{ match.name }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{% url 'search:match_details' match.id %}" class="btn btn-primary my-2">View</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

              {% endif %}

              {% endfor %}


          </div>
        </div>
      </div>
    </main>


    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="{% url 'player:my_matches' %}">Back to top</a>
        </p>

      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="https://getbootstrap.com/assets/js/vendor/holder.min.js"></script>

{% endblock %}


