{% extends 'player/base.html' %}

<title>{% block title%}My Matches{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/album/album.css" rel="stylesheet">


{% block body %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

            <h2><b>Your Matches</b></h2><br>

      <div class=" py-5 bg-light">


          <div class="row">

            <div class="col-md-4">
              <div class="card mb-4    text-center">
                  <div class="card-header text-white  bg-secondary "><b >Match Name</b> </div>
                <div class="card-body">

                    <div class="row">

                         <div class="col-md-6 ">
                             Total Runs :
                         </div>
                        <div class="col-md-6">
                             Balls Faced :
                         </div>

                         <div class="col-md-12 my-3">
                         </div>
                        <div class="col-md-4">
                             Strike Rate:
                         </div>

                        <div class="col-md-4">
                             6's:
                         </div>

                        <div class="col-md-4">
                             4's:
                         </div>

                         <div class="col-md-12 my-3">
                         </div>

                        <div class="col-md-6">
                             Over Bowled:
                         </div>

                        <div class="col-md-6">
                             Wickets Taken :
                         </div>

                        <div class="col-md-12 my-3">
                         </div>

                    </div>

                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="#" class="btn btn-lg my-2 submit_buttons ">View Match</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>


              <!------ card 2 ------->
                          <div class="col-md-4">
              <div class="card mb-4    text-center">
                  <div class="card-header text-white  bg-secondary "><b >Match Name</b> </div>
                <div class="card-body">

                    <div class="row">

                         <div class="col-md-6 ">
                             Total Runs :
                         </div>
                        <div class="col-md-6">
                             Balls Faced :
                         </div>

                         <div class="col-md-12 my-3">
                         </div>
                        <div class="col-md-4">
                             Strike Rate:
                         </div>

                        <div class="col-md-4">
                             6's:
                         </div>

                        <div class="col-md-4">
                             4's:
                         </div>

                         <div class="col-md-12 my-3">
                         </div>

                        <div class="col-md-6">
                             Over Bowled:
                         </div>

                        <div class="col-md-6">
                             Wickets Taken :
                         </div>

                        <div class="col-md-12 my-3">
                         </div>

                    </div>

                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="#" class="btn btn-lg my-2 submit_buttons ">View Match</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <!-------------card 3 --------->
                         <div class="col-md-4">
              <div class="card mb-4    text-center">
                  <div class="card-header text-white  bg-secondary "><b >Match Name</b> </div>
                <div class="card-body">

                    <div class="row">

                         <div class="col-md-6 ">
                             Total Runs :
                         </div>
                        <div class="col-md-6">
                             Balls Faced :
                         </div>

                         <div class="col-md-12 my-3">
                         </div>
                        <div class="col-md-4">
                             Strike Rate:
                         </div>

                        <div class="col-md-4">
                             6's:
                         </div>

                        <div class="col-md-4">
                             4's:
                         </div>

                         <div class="col-md-12 my-3">
                         </div>

                        <div class="col-md-6">
                             Over Bowled:
                         </div>

                        <div class="col-md-6">
                             Wickets Taken :
                         </div>

                        <div class="col-md-12 my-3">
                         </div>

                    </div>

                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="#" class="btn btn-lg my-2 submit_buttons ">View Match</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

               <!-------------card 4 --------->
                         <div class="col-md-4">
              <div class="card mb-4    text-center">
                  <div class="card-header text-white  bg-secondary "><b >Match Name</b> </div>
                <div class="card-body">

                    <div class="row">

                         <div class="col-md-6 ">
                             Total Runs :
                         </div>
                        <div class="col-md-6">
                             Balls Faced :
                         </div>

                         <div class="col-md-12 my-3">
                         </div>
                        <div class="col-md-4">
                             Strike Rate:
                         </div>

                        <div class="col-md-4">
                             6's:
                         </div>

                        <div class="col-md-4">
                             4's:
                         </div>

                         <div class="col-md-12 my-3">
                         </div>

                        <div class="col-md-6">
                             Over Bowled:
                         </div>

                        <div class="col-md-6">
                             Wickets Taken :
                         </div>

                        <div class="col-md-12 my-3">
                         </div>

                    </div>

                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="#" class="btn btn-lg my-2 submit_buttons ">View Match</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>


              <!-------------card 5 --------->
                            <div class="col-md-4">
              <div class="card mb-4    text-center">
                  <div class="card-header text-white  bg-secondary "><b >Match Name</b> </div>
                <div class="card-body">

                    <div class="row">

                         <div class="col-md-6 ">
                             Total Runs :
                         </div>
                        <div class="col-md-6">
                             Balls Faced :
                         </div>

                         <div class="col-md-12 my-3">
                         </div>
                        <div class="col-md-4">
                             Strike Rate:
                         </div>

                        <div class="col-md-4">
                             6's:
                         </div>

                        <div class="col-md-4">
                             4's:
                         </div>

                         <div class="col-md-12 my-3">
                         </div>

                        <div class="col-md-6">
                             Over Bowled:
                         </div>

                        <div class="col-md-6">
                             Wickets Taken :
                         </div>

                        <div class="col-md-12 my-3">
                         </div>

                    </div>

                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="#" class="btn btn-lg my-2 submit_buttons ">View Match</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>




          </div>
        </div>
      </div>
    </main>


    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="{% url 'player:my_matches' %}">Back to top</a>
        </p>

      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="https://getbootstrap.com/assets/js/vendor/holder.min.js"></script>

{% endblock %}


