
{% extends 'search/base.html' %}

{% block title %}Player | Details{% endblock %}

{% block body %}






        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

            <h2><b>Player Performance</b></h2><br>

      <div class="album py-5 bg-light">


          <div class="row">

            <div class="col-md-4">
              <div class="card mb-4    text-center">
                  <div class="card-header text-white  bg-secondary "><b >Match Name</b> </div>
                <div class="card-body">

                    <div class="row">

                         <div class="col-md-6 ">
                             Total Runs :
                         </div>
                        <div class="col-md-6">
                             Balls Faced :
                         </div>

                         <div class="col-md-12 my-3">
                         </div>
                        <div class="col-md-4">
                             Strike Rate:
                         </div>

                        <div class="col-md-4">
                             6's:
                         </div>

                        <div class="col-md-4">
                             4's:
                         </div>

                         <div class="col-md-12 my-3">
                         </div>

                        <div class="col-md-6">
                             Over Bowled:
                         </div>

                        <div class="col-md-6">
                             Wickets Taken :
                         </div>

                        <div class="col-md-12 my-3">
                         </div>

                    </div>

                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="#" class="btn btn-lg my-2 submit_buttons ">View Match</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>


              <!------ card 2 ------->
              <div class="col-md-4">

               <div class="card mb-4    text-center">

                  <div class="card-header text-white  bg-secondary "><b >Match Name</b> </div>

                <div class="card-body">

                    <div class="row">

                         <div class="col-md-6 ">
                             Total Runs :
                         </div>
                        <div class="col-md-6">
                             Balls Faced :
                         </div>

                         <div class="col-md-12 my-3">
                         </div>
                        <div class="col-md-4">
                             Strike Rate:
                         </div>

                        <div class="col-md-4">
                             6's:
                         </div>

                        <div class="col-md-4">
                             4's:
                         </div>

                         <div class="col-md-12 my-3">
                         </div>

                        <div class="col-md-6">
                             Over Bowled:
                         </div>

                        <div class="col-md-6">
                             Wickets Taken :
                         </div>

                        <div class="col-md-12 my-3">
                         </div>

                    </div>

                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="#" class="btn btn-lg my-2 submit_buttons ">View Match</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <!-------------card 3 --------->
                         <div class="col-md-4">
              <div class="card mb-4    text-center">
                  <div class="card-header text-white  bg-secondary "><b >Match Name</b> </div>
                <div class="card-body">

                    <div class="row">

                         <div class="col-md-6 ">
                             Total Runs :
                         </div>
                        <div class="col-md-6">
                             Balls Faced :
                         </div>

                         <div class="col-md-12 my-3">
                         </div>
                        <div class="col-md-4">
                             Strike Rate:
                         </div>

                        <div class="col-md-4">
                             6's:
                         </div>

                        <div class="col-md-4">
                             4's:
                         </div>

                         <div class="col-md-12 my-3">
                         </div>

                        <div class="col-md-6">
                             Over Bowled:
                         </div>

                        <div class="col-md-6">
                             Wickets Taken :
                         </div>

                        <div class="col-md-12 my-3">
                         </div>

                    </div>

                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="#" class="btn btn-lg my-2 submit_buttons ">View Match</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>


               <!-------------card 4--------->
                         <div class="col-md-4">
              <div class="card mb-4    text-center">
                  <div class="card-header text-white  bg-secondary "><b >Match Name</b> </div>
                <div class="card-body">

                    <div class="row">

                         <div class="col-md-6 ">
                             Total Runs :
                         </div>
                        <div class="col-md-6">
                             Balls Faced :
                         </div>

                         <div class="col-md-12 my-3">
                         </div>
                        <div class="col-md-4">
                             Strike Rate:
                         </div>

                        <div class="col-md-4">
                             6's:
                         </div>

                        <div class="col-md-4">
                             4's:
                         </div>

                         <div class="col-md-12 my-3">
                         </div>

                        <div class="col-md-6">
                             Over Bowled:
                         </div>

                        <div class="col-md-6">
                             Wickets Taken :
                         </div>

                        <div class="col-md-12 my-3">
                         </div>

                    </div>

                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="#" class="btn btn-lg my-2 submit_buttons ">View Match</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>


              <!-------------card 5 --------->
                            <div class="col-md-4">
              <div class="card mb-4    text-center">
                  <div class="card-header text-white  bg-secondary "><b >Match Name</b> </div>
                <div class="card-body">

                    <div class="row">

                         <div class="col-md-6 ">
                             Total Runs :
                         </div>
                        <div class="col-md-6">
                             Balls Faced :
                         </div>

                         <div class="col-md-12 my-3">
                         </div>
                        <div class="col-md-4">
                             Strike Rate:
                         </div>

                        <div class="col-md-4">
                             6's:
                         </div>

                        <div class="col-md-4">
                             4's:
                         </div>

                         <div class="col-md-12 my-3">
                         </div>

                        <div class="col-md-6">
                             Over Bowled:
                         </div>

                        <div class="col-md-6">
                             Wickets Taken :
                         </div>

                        <div class="col-md-12 my-3">
                         </div>

                    </div>

                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="#" class="btn btn-lg my-2 submit_buttons ">View Match</a>

                    </div>

                  </div>

                </div>

              </div>

            </div>




          </div>
        </div>
      </div>
    </main>
{% endblock %}