{% extends 'search/base.html' %}

{% block title %} Search {% endblock %}

{% block body %}
<br><br><br>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
       <div class="container">

           <p><a href="{% url 'search:search_tournaments' %}">Tournaments</a></p>
           <p><a href="{% url 'search:search_teams' %}">Teams</a></p>
           <p><a href="{% url 'search:search_players' %}">Players</a></p>
           <p><a href="{% url 'search:search_organizers' %}">Organizers</a></p>

        </div>
    </main>

{% endblock %}