{% extends 'search/base.html' %}

{% block title %}Team{% endblock %}

{% block body %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">


<br><br>

      <p>Team Details:</p>


      <div class="container">

      <!-- Introduction Row -->
      <h1 class="my-4">{{ team.name }}
        <small class="center"> Owned by :  {{ team.owner }}</small>
      </h1>

           <!-- Team Members Row -->
      <div class="row">
        <div class="col-md-8">

           <div class="row">
           {% for player in current_players %}

           {% if player %}
            <div class="col-lg-3  text-center mb-4">

              <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">

              <h3>{{ player.get_full_name }}<br>

                <small>{{ player.player_type }}</small>

              </h3>
               </div>
               {% endif %}

          {% endfor %}
      </div>
         </div>
       <div class="col-md-1"></div>

       <div class="col-md-3">

                <div class="card h-75">

                  <h5 class="card-header">Team Performance</h5>

                    <div class="card-body">

                         <p> TOTAL MATCHES : </p>
                         <p>  WINS :</p>
                         <p> LOSS : </p>
                         <p> LEADING BATSMAN :</p>
                        <p> LEADING BOWLER:</p>

                    </div>

                    <div class="card-footer">


                    </div>
                </div>


          </div>



        </div>
      </div>

    </div>
    <!-- /.container -->

     </main>
    </main>


{% endblock %}