{% extends 'player/After_Login/base.html' %}

{% block title %}{{ user.get_full_name }} | Home{% endblock %}

{% block body %}

  {% if user.username %}

     <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

     </main>

    {% else %}

            <p><a href="{% url 'player:player_login' %}">You are not logged in.Click here to login</a></p>

    {% endif %}


{% endblock %}