<!DOCTYPE html>
<html>
<title>HOME</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}

.w3-container1 {
    background-image: url("https://media2.mensxp.com/media/section/2015/Feb/cricket13663_1424161361.jpg");

    background-repeat: no-repeat;
        background-size: cover;
        width :100%;
        height: 0%;
}
</style>

<body style="height: 100%">

<!------------------  smooth movement  -->


    <script >
        $(document).ready(function(){
          // Add smooth scrolling to all links
          $(".move").on('click', function(event) {

            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
              // Prevent default anchor click behavior
              event.preventDefault();

              // Store hash
              var hash = this.hash;

              // Using jQuery's animate() method to add smooth page scroll
              // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
              $('html, body').animate({
                scrollTop: $(hash).offset().top
              }, 800, function(){

                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
              });
            } // End if
          });
        });
    </script>
<!------------- -->

<!-- Navbar -->
<div class="w3-top">
         <nav class="nav nav-masthead justify-content-center" style="background-color: black;">
            <a class="nav-link active" href="{% url 'home_page' %}"><h5 style="color: white">Home</h5></a>
            <a class="nav-link move" href="#about_player"><h5 style="color: white">Player</h5></a>
            <a class="nav-link move " href="#about_organizer"><h5 style="color: white">Organizer</h5></a>
            <a class="nav-link" href="{% url 'live' %}"><h5 style="color: white">Live Scores</h5></a>
             <a class="nav-link active"  href="{% url 'login' %}"><h5 style="color: white">Login</h5></a>
            <a class="nav-link move" href="#contact"><h5 style="color: white">Contact</h5></a>
                <form class="nav navbar-nav navbar-right form-inline" method="GET"action="{% url 'search:nav_search_matches' %}" >
                 <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search" aria-label="Search" style="height: 30px;margin-top: 8px">
                </form>

          </nav>
</div>

<!-- Header -->

<header class="w3-container1 w3-red w3-center" style="padding:170px 16px">
  <h1 class="w3-margin w3-jumbo" style="color: black">Cricky.com</h1>
  <p class="w3-xlarge" style="color: black;">A way to organize  tournaments</p>
    <p><a href="{% url 'live' %}"><button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Live Scores</button></a></p>
</header>

<!-- Footer -->
<div class="w3-row-padding w3-padding-50 w3-container" style="padding:10px 16px ; margin-left: 150px;">
    <div class="container ">

     <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">


  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">

          <div class="row my-2">

          </div>
            <div class="row">
                  <div class="col-md-2">

                  </div>
                <div class="col-md-5">

                        <img class="rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNNyUJ8ud9fkql7S2jgSw9P_QuUduiMw08vzwh5mUNwo3pscn2" alt="Generic placeholder image" width="140" height="100" >
                        <h2>Are you a member?</h2>

                        <p><a class="btn btn-secondary" href="{% url 'login' %}" role="button" style="width: 200px"> <b>LogIn </b>  </a></p>
                </div>
                <div class="col-md-5">
                     <img class="rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwCOxMLdOQCj2sBLDkUnc4Q3POWJIpsbov2NDeCvQm7E7RqMX7" alt="Generic placeholder image" width="150" height="100">
                        <h2>Are you new?</h2>

                        <p><a class="btn btn-secondary" href="#myCarousel" data-slide="next" role="button" style="width: 200px"><b>SignUp</b></a></p>
                </div>
            </div>

    </div>



    <div class="item">
     <div class="row my-2">

      </div>

        <div class="row">
         <div class="col-lg-2">

               <a class="left carousel-control" href="#myCarousel" data-slide="prev"> </a>

         </div>
            <div class="col-md-5">

                 <a href="#about_organizer" class="move"><img class="rounded-circle" src="https://thumbs.dreamstime.com/z/d-small-people-multi-manager-person-businessman-six-hands-image-white-background-40012650.jpg" alt="Generic placeholder image" width="140" height="150"></a>
                <p><h3><b >Want to Organize?</b></h3></p>

            </div>

            <div class="col-lg-1">



         </div>
             <div class="col-md-4">

<a href="#about_player" class="move"><img class="rounded-circle" src="https://media.gettyimages.com/photos/boy-playing-cricket-picture-id172363874?s=612x612" alt="Generic placeholder image" width="150" height="150"></a>

                 <p><h3><b >Want to Play?</b></h3></p>
            </div>

        </div>

    </div>
  </div>
     </div>
         </div>
</div>




<div class="w3-container w3-light-grey" style="padding:100px 16px; height: 795px" id="about_organizer">
  <div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Want to ORGANIZE?</h1>
      <h5 class="w3-padding-32" style="font-size: 25px">Cricky provides a great platform to manage all your cricket tournaments   </h5>

      <p class="w3-text-grey" style="font-size: 20px">Cricky degitalizes your tournament management by giving u opportunity to create tournament ,add teams ,add players to the teams . Cricky  also provides a user friendly score entering system for adding the details of each delivery in the tournament . Your tournament will be visible to the public . You can also send alerts about your tournaments  for the audience </p>



    </div>

    <div class="w3-third w3-center">
      <img class="rounded-circle" src="https://thumbs.dreamstime.com/z/d-small-people-multi-manager-person-businessman-six-hands-image-white-background-40012650.jpg" alt="Generic placeholder image" width="300" height="300">
        <a href="{% url 'organizer_signup' %}"><button class="btn btn-secondary  w3-padding-large w3-large w3-margin-top" style="width: 300px; background-color: white; color: black">SignUp</button></a>
    </div>
  </div>
</div>
</div>



<div class="w3-container " style="padding:200px 16px" id="about_player">
  <!-- Second Grid -->
<div class="w3-row-padding  w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <img class="rounded-circle" src="https://media.gettyimages.com/photos/boy-playing-cricket-picture-id172363874?s=612x612" alt="Generic placeholder image" width="300" height="300">
        <a href="{% url 'player_signup' %}"><button class="btn btn-secondary w3-padding-large w3-large w3-margin-top" style="width: 300px; background-color: lightgrey; color: black">SignUp</button></a>
    </div>

    <div class="w3-twothird">
      <h1>Want to PLAY?</h1>
      <h5 class="w3-padding-32" style="font-size: 25px">Cricky provides a great platform to manage  your profile </h5>

      <p class="w3-text-grey" style="font-size: 20px">Tournament Organizers will be able to select you for their tournaments. Your profifle will also be visible to the audience . After each of your match your perfomace will be updated </p>
    </div>
  </div>
</div>
</div>


<div class="w3-container w3-light-grey " style="padding:400px 400px; width: 1520px; height: 0px" id="contact">
<div class="w3-container ">
<h2 class="w3-wide w3-center" style="margin-top: -150px">CONTACT</h2>
    <p class="w3-opacity w3-center"><i>Any Queries? Drop a note!</i></p>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker my-4" style="width:30px"></i> Mangalore, India<br>
        <i class="fa fa-phone my-4" style="width:30px"></i> Phone :<div class="row">
          <div class=" col-md-3">

          </div>
          <div class=" col-md-9">
              +91 7348810539
          </div>
           <div class=" col-md-3">

          </div>
           <div class=" col-md-9    ">
               +91 9901053788
          </div>
      </div >
        <i class="fa fa-envelope my-4" style="width:30px"> </i> Email: &nbsp &nbsp cricky.Web@gmail.com<br>
      </div>
      <div class="w3-col m6 my-4">
        <form action="#" target="_blank">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
            </div>
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
            </div>
          </div>
          <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
          <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
        </form>
      </div>
    </div>

</div>
</div>




<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
