{% extends 'cricket/base.html' %}

{% block title %} Live {% endblock %}

{% block body %}

<br><br><br>

 <div class="row">


     <div class="col-md-6">

           <div class="card h-75  " style="{overflow-y: scroll}">
               <div class="card-header"> Live Matches</div>
               <div class="card-body">
               <div class="row">

                   <div class="col-md-6 my-1">

                       <div class="card">

                             match1

                       </div>

                   </div>
                   <div class="col-md-6 my-1">
                          <div class="card">

                             match2

                       </div>

                   </div>


                   <div class="col-md-6 my-1">

                       <div class="card">

                             match3

                       </div>

                   </div>
                   <div class="col-md-6 my-1">
                          <div class="card">

                             match4

                       </div>

                   </div>


                   <div class="col-md-6 my-1">

                       <div class="card">

                             match5

                       </div>

                   </div>

                   <div class="col-md-6 my-1">
                          <div class="card">

                             match6

                       </div>

                   </div>

               </div>

            </div>

     </div>
     </div>



         <div class="col-md-6">

           <div class="card h-100 " style="{overflow-y: scroll}">
               <div class="card-header"> Live Tournaments</div>
               <div class="card-body">
               <div class="row">

                   <div class="col-md-6 my-1">

                       <div class="card">

                             match1

                       </div>

                   </div>
                   <div class="col-md-6 my-1">
                          <div class="card">

                             match2

                       </div>

                   </div>


                   <div class="col-md-6 my-1">

                       <div class="card">

                             match3

                       </div>

                   </div>
                   <div class="col-md-6 my-1">
                          <div class="card">

                             match4

                       </div>

                   </div>


                   <div class="col-md-6 my-1">

                       <div class="card">

                             match5

                       </div>

                   </div>

                   <div class="col-md-6 my-1">
                          <div class="card">

                             match6

                       </div>

                   </div>

               </div>

            </div>

          </div>

    </div>

   <div>


   </div>

 </div>

{% endblock %}

</html>