{% extends 'cricket/base.html' %}

{% block title %}SignUP{% endblock %}

  {% block body %}

       <div class="container">
     <br>   {% if errors %}
                <br><br><br><br>
            {% for error in errors %}

                <p>{{ error }}</p>
                <p>{{ erro }}</p>

            {% endfor%}

        {% endif %}

      <p>
         <form  method="post">

         {% csrf_token %}

            <div class=" signup_form card my-1">
              <div class="card-header header">

                  <b>Signupform</b>
              </div>
                <div class="my-4"></div>


             <div class="row ">
                 <div class="col-md-1"></div>
                 <div class="col-md-4">
                    First Name :  {{ form.first_name }}

                 </div>

                 <div class="col-md-4">
                     Last Name :  {{ form.last_name }}

                 </div>



             </div>
                <div class="row my-4">

                </div>
                <div class="row">
                     <div class="col-md-1">

                     </div>

                     <div class="col-md-4">
                     Nationality :  {{ form.nationality }}

                     </div>

                     <div class="col-md-4">
                         State :  {{ form.state}}

                     </div>



                </div>



                 <div class="row my-4">

                 </div>
                <div class="row">

                    <div class="col-md-1">

                    </div>

                    <div class="col-md-4">

                        Username &nbsp:  {{ form.username }}


                    </div>

                     <div class="col-md-3">

                       Email:  {{ form.email }}

                     </div>

                      <div class="col-md-3">
                     {{ form.phone_no.label}} {{ form.phone_no}}

                      </div>


                </div>
                <div class="row my-4">

                </div>


                <div class="row">

                     <div class="col-md-1">

                     </div>

                     <div class="col-md-4">

                     Password &nbsp :   {{ form.password1}}

                     </div>

                     <div class="col-md-4">
                     {{ form.password2.label }} {{ form.password2}}

                     </div>

                </div>


                     <div class="row my-4">

                    </div>

                </div>




         <div class="container col-md-1">

         <input type="submit" class="btn btn-lg submit_buttons" style=" {justify-content: center}" value="SignUp" >

         </div>

         </form>

       </div>

  {% endblock %}