



<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Player | Page</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
      {% load staticfiles %}
    <link  rel="stylesheet" type="text/css" href="{% static 'cricket/login.css' %}">
      <link  rel="stylesheet" type="text/javascript" href="{% static 'cricket/home.js' %}">
  </head>

  <body class="text-center">

  <script >
        $(document).ready(function(){
          // Add smooth scrolling to all links
          $("a").on('click', function(event) {
            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
              // Prevent default anchor click behavior
              event.preventDefault();
              // Store hash
              var hash = this.hash;
              // Using jQuery's animate() method to add smooth page scroll
              // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
              $('html, body').animate({
                scrollTop: $(hash).offset().top
              }, 800, function(){
                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
              });
            } // End if
          });
        });
    </script>

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Cricky</h3>
          <nav class="nav nav-masthead justify-content-center" >
            <a class="nav-link "  href="{% url 'home_page' %} "><h5 style="color: #5cb85c">Home</h5></a>
            <a class="nav-link active" href="{% url 'players_page'  %}"><h5 style="color: #5cb85c">Player</h5></a>
            <a class="nav-link" href="{% url 'organizers_page'  %}"><h5 style="color: #5cb85c">Organizer</h5></a>
            <a class="nav-link" href="{% url 'live' %}"><h5 style="color: #5cb85c">Live Scores</h5></a>
            <a class="nav-link" href="#"><h5 style="color: #5cb85c">Contact</h5></a>
          </nav>
        </div>
      </header>


<div>
        <div class="container marketing" style="top: 50px;width: 700px">
             <div class="row">


                  <div class="col-md-6">

                    <img class="rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNNyUJ8ud9fkql7S2jgSw9P_QuUduiMw08vzwh5mUNwo3pscn2" alt="Generic placeholder image" width="140" height="140">
                    <h2>Are you a member?</h2>
                    <p></p>
                    <p><a class="btn btn-secondary" href="{% url 'login' %}" role="button"> <b>LogIn </b>  </a></p>

                  </div><!-- /.col-lg-4 -->


                  <div class="col-md-6">

                    <img class="rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwCOxMLdOQCj2sBLDkUnc4Q3POWJIpsbov2NDeCvQm7E7RqMX7" alt="Generic placeholder image" width="140" height="140">
                    <h2>Are you new?</h2>
                    <p></p>
                    <p><a class="btn btn-secondary" href="{% url 'player_signup' %}" role="button"><b>SignUp</b></a></p>


                  </div><!-- /.col-lg-4 -->
             </div><!-- /.row -->

            </div>

    </div>
      <footer class="mastfoot mt-auto">
        <div class="inner">
        </div>

      </footer>
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
  </body>


</html>



