{% extends 'cricket/base.html' %}

{% block title %}SignUP{% endblock %}

  {% block body %}
       <div class="container">
     <br>   {% if errors %}

            {% for error in errors %}

                <p>{{ error }}</p>

            {% endfor%}

        {% endif %}

     <br> <p>
         <form method="post">

         {% csrf_token %}

             <div class="card my-2">

                 <div class="card-header header">

                     SIGN UP FORM
                 </div>

             <div class="card-body">
                  <div class="row my-2">

                  </div>
                  <div class="row">

                      <div class="col-md-1">

                      </div>

                     <div class="col-md-4">
                         {{ form.first_name.label }} &nbsp &nbsp &nbsp: {{ form.first_name }}

                     </div>

                     <div class="col-md-4">
                         {{ form.last_name.label }} : {{ form.last_name }}

                     </div>



                  </div>

                      <div class="row my-4">

                      </div>

                     <div class="row">

                         <div class="col-md-1">

                      </div>

                           <div class="col-md-4">
                         {{ form.dob.label }} &nbsp:  {{ form.dob }}

                     </div>

                     <div class="col-md-4">
                         {{ form.phone_no.label }} : {{ form.phone_no }}

                     </div>


                     <div class="col-md-3">
                         {{ form.player_type.label}}  {{ form.player_type }}

                     </div>

                   </div>

                    <div class="row my-4">

                    </div>

                <div class="row">


                    <div class="col-md-1">

                      </div>

                     <div class="col-md-4">
                     {{ form.nationality.label }} &nbsp  &nbsp: {{ form.nationality }}

                      </div>

                     <div class="col-md-3">
                         {{ form.state.label}} : {{ form.state}}

                     </div>

                     <div class="col-md-4">
                      {{ form.district.label}} : {{ form.district}}

                     </div>

                </div>



                 <div class="row my-4">

                 </div>


                <div class="row">

                    <div class="col-md-1">

                      </div>

                    <div class="col-md-4">

                        {{ form.username.label }} &nbsp &nbsp : {{ form.username }}


                    </div>

                     <div class="col-md-4">

                        Email : {{ form.email }}

                     </div>


                </div>

                <div class="row my-4">

                </div>

                <div class="row">

                    <div class="col-md-1">

                      </div>


                     <div class="col-md-4">
                     {{ form.password1.label }} &nbsp &nbsp : {{ form.password1}}

                     </div>

                     <div class="col-md-5">
                     {{ form.password2.label }}  {{ form.password2}}

                 </div>
                </div>


                <div class="row my-4">

                </div>





                </div>
             </div>

             <div class="container col-md-1">

           <input type="submit" class="btn btn-lg submit_buttons" value="SignUp" >

             </div>
         </form>

       </div>


             </div>


  {% endblock %}

