

{% extends 'organizer/base.html' %}



{% block title %}{{ organizer.get_full_name }} | Enter Score{% endblock %}

{% block body %}

    {% load staticfiles %}
    <link  rel="stylesheet" type="text/css" href="{% static 'organizer/base.css' %}">
    <br><br><br><br>


         <p>Match : {{ match.name }}</p><br>

         <p>Batting Team : {{ batting_team }}</p><br>

         <p>Bowling Team  : {{ bowling_team }}</p><br>

         <p>Innings  : {{ innings }}</p><br>


       <div class="row">
             <div class="col-lg-5">

                 <div class="score_details">
                <p> <h1>Fill the Details:</h1></p>

                   <form  name="score_form" method="POST">

                       {% csrf_token %}
                         <div class="card h-80">
                        <h5 class="card-header">SCORE</h5>
                        <div class="card-body">
                          <div class="row">

                               <div class="col-sm-5">
                                  {{ form.over_number.label }} {{ form.over_number }}
                              </div>


                                <div class="col-sm-5">
                                  {{ form.ball_number.label }}   {{ form.ball_number }}
                              </div>



                               <br>
                               <div class="col-lg-12 my-3" style="{height: 60px;}">

                               </div>


                              <div class="col-sm-6">

                                 {{ form.batsman.label }}   {{ form.batsman }}

                              </div>

                              <div class="col-sm-6">
                                  {{ form.bowler.label }}   {{ form.bowler }}
                              </div>

                                  <div class="col-lg-12 my-3" style="{height: 60px;}">

                               </div>

                               <div class="col-sm-4">
                                   {{ form.run.label }}  {{ form.run }}
                              </div>

                              <div class="col-sm-4">
                                   {{ form.six.label }}  {{ form.six }}
                              </div>

                              <div class="col-sm-4">
                                   {{ form.four.label }}  {{ form.four }}
                              </div>

                              <div class="col-lg-12 my-3" style="{height: 60px;}">

                               </div>

                              <div class="col-sm-3">
                                    {{ form.is_extra.label }}   {{ form.is_extra }}
                              </div>

                               <div class="col-sm-4">
                                    {{ form.extra_type.label }}   {{ form.extra_type }}
                              </div>

                               <div class="col-sm-5">
                                    {{ form.extra_run.label }}  {{ form.extra_run }}
                              </div>
                                 <div class="col-lg-12 my-3" style="{height: 60px;}">

                               </div>
                              <div class="col-sm-3">
                                    {{ form.is_wicket.label }}  {{ form.is_wicket }}
                              </div>

                              <div class="col-sm-4">
                                    {{ form.out_batsman.label }}  {{ form.out_batsman }}
                              </div>

                              <div class="col-sm-5">
                                   {{ form.wicket_type.label }}   {{ form.wicket_type }}
                              </div>

                              <div class="col-lg-12 my-3" style="{height: 60px;}">

                               </div>

                              <div class="col-sm-5">
                                   {{ form.commentary.label }}   {{ form.commentary }}
                              </div>

                          </div>


                        </div>

                              <div class="card-footer">
                                  <div class="row">


                                      <div class="col-sm-3 ">
                                          <button  class="btn  btn-lg score_buttons" id="run">Run </button>

                                      </div>

                                      <div class="col-sm-2 ">
                                          <button class="btn  btn-lg score_buttons" id="extra" >extra </button>
                                      </div>

                                      <div class="col-sm-1">

                                      </div>


                                      <div class="col-sm-4 ">

                                          <button class="btn btn-lg score_buttons" id="extraRun" >extra Run </button>

                                      </div>

                                      <div class="col-sm-2">

                                          <button class="btn  btn-lg score_buttons" id="wkt" >wkt </button>

                                      </div>

                                  </div>
                              </div>

                      </div>
                       <br>


                         <button type="submit" class="btn btn-primary">Save</button>

                   </form>
                </div>

             </div>


    <div class="col-md-6">  <br><br>
        <div class="card h-90">
           <h2 class="card-header"><b>SCORE BOARD:</b></h2>

            <div class="card-body">
            <table class="table table-bordered" align="center">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Batsman</th>
                  <th scope="col">Status</th>
                  <th scope="col">Runs</th>
                  <th scope="col">Balls</th>
                  <th scope="col">4s</th>
                  <th scope="col">6s</th>
                  <th scope="col">SR</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Mark</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>Jacob</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>Thornton</td>
                  <td>Thornton</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
              </tbody>
            </table>



        <br><br><br>


            <table class="table table-bordered" align="center">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Bowler</th>
                  <th scope="col">Overs</th>
                  <th scope="col">Maidens</th>
                  <th scope="col">Wickets</th>
                  <th scope="col">Average</th>
                  <th scope="col">Economy</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Mark</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>Jacob</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>Thornton</td>
                  <td>Thornton</td>
                  <td>Thornton</td>
                </tr>
                <tr>
                  <td>Larry</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>


        <br><br>

            <table class="table table-bordered" align="center">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Recent</th>
                </tr>
              </thead>
            </table>

            </div>
        </div>
    </div>
       </div>









<!-- The Modal -->
<div id="wktModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content animate">



      <div class="card h-25 w-10" >

            <h5 class="card-header">CHOOSE AMONG  <span class="close" id="close">&times;</span></h5>

             <div class="card-body">

                 <p> <button  class=" btn  btn-lg score_buttons" onclick="document.forms['score_form']['wicket_type'].value='RunOut' " >RunOut</button>
               <button  class=" btn  btn-lg score_buttons" onclick="document.forms['score_form']['wicket_type'].value='Catch'  ">Catch</button>
               <button class=" btn  btn-lg score_buttons" onclick="document.forms['score_form']['wicket_type'].value='Bowled'  ">Bowled</button>
               <button class=" btn  btn-lg score_buttons" onclick="document.forms['score_form']['wicket_type'].value='Lbw' ">Lbw</button>
               <button class=" btn  btn-lg score_buttons" onclick="document.forms['score_form']['wicket_type'].value='Stumps'  ">Stumps</button>
               <button class=" btn  btn-lg score_buttons" onclick="document.forms['score_form']['wicket_type'].value='HitWicket'  ">Hitwicket</button></p>

             </div>
      </div>

  </div>

</div>


<div id="extraModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">



      <div class="card h-25">

      <h5 class="card-header">CHOOSE AMONG  <span class="close" id="close1">&times;</span></h5>

          <div class="card-body">

                <p>  <button class=" btn  btn-lg score_buttons" onclick="document.forms['score_form']['extra_type'].value='Wide'  ">Wide</button>
               <button class=" btn  btn-lg score_buttons" onclick="document.forms['score_form']['extra_type'].value='NoBall'  ">No ball</button>
               <button class=" btn  btn-lg score_buttons" onclick="document.forms['score_form']['extra_type'].value='DeadBall'  ">Dead ball</button></p>


          </div>
        </div>
  </div>

</div>


    <div id="RunModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">



      <div class="card h-25">
         <h5 class="card-header">CHOOSE AMONG  <span class="close" id="close2">&times;</span></h5>


             <div class="card-body">


              <p><button  class=" btn  btn-lg score_buttons"  onclick="document.forms['score_form']['run'].value=6  ">6</button>
               <button class=" btn  btn-lg score_buttons"   onclick="document.forms['score_form']['run'].value=5  ">5</button>
               <button  class=" btn  btn-lg score_buttons"  onclick="document.forms['score_form']['run'].value=4  ">4</button>
               <button  class=" btn  btn-lg score_buttons"  onclick="document.forms['score_form']['run'].value=3  ">3</button>
               <button  class=" btn  btn-lg score_buttons"   onclick="document.forms['score_form']['run'].value=2  ">2</button>
               <button class=" btn  btn-lg score_buttons"  onclick="document.forms['score_form']['run'].value=1  ">1</button>
               <button class=" btn  btn-lg score_buttons"  onclick="document.forms['score_form']['run'].value=0  ">0</button></p>
             </div>

      </div>


  </div>

</div>





     <div id="extraRunModal" class="modal">

  <!-- Modal content -->
     <div class="modal-content">



          <div class="card h-25">
                <h5 class="card-header">CHOOSE AMONG  <span class="close" id="close3">&times;</span></h5>


                <div class="card-body">

                  <p>  <button  class=" btn  btn-lg score_buttons" onclick="document.forms['score_form']['extra_run'].value=6  ">6</button>
                   <button class=" btn  btn-lg score_buttons" onclick="document.forms['score_form']['extra_run'].value=5  ">5</button>
                   <button  class=" btn  btn-lg score_buttons" onclick="document.forms['score_form']['extra_run'].value=4  ">4</button>
                   <button  class=" btn  btn-lg score_buttons" onclick="document.forms['score_form']['extra_run'].value=3  ">3</button>
                   <button  class=" btn  btn-lg score_buttons" onclick="document.forms['score_form']['extra_run'].value=2  ">2</button>
                   <button class=" btn  btn-lg score_buttons" onclick="document.forms['score_form']['extra_run'].value=1  ">1</button>
                   <button class=" btn  btn-lg score_buttons" onclick="document.forms['score_form']['extra_run'].value=0  ">0</button></p>


                 </div>

           </div>
      </div>


</div>


<script>
var modal = document.getElementById('wktModal');
var btn = document.getElementById("wkt");
var span = document.getElementById("close");
var modal1 = document.getElementById('extraModal');
var btn1 = document.getElementById("extra");
var span1 = document.getElementById("close1");
var modal2 = document.getElementById('RunModal');
var btn2 = document.getElementById("run");
var span2 = document.getElementById("close2");
var modal3 = document.getElementById('extraRunModal');
var btn3= document.getElementById("extraRun");
var span3 = document.getElementById("close3");
btn.onclick = function() {
    modal.style.display = "block";
};
btn1.onclick = function() {
    modal1.style.display = "block";
};
btn2.onclick = function() {
    modal2.style.display = "block";
};
btn3.onclick = function() {
    modal3.style.display = "block";
};
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
};
span1.onclick = function() {
    modal1.style.display = "none";
};
span2.onclick = function() {
    modal2.style.display = "none";
};
span3.onclick = function() {
    modal3.style.display = "none";
};
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>




{% endblock %}




