

{% extends 'organizer/base.html' %}



{% block title %}{{ organizer.get_full_name }} | Enter Score{% endblock %}

{% block body %}
    <br><br><br>
    <br><br><br>


       <div class="container">

                   <form  method="POST">

                       {% csrf_token %}
                        {{ form.as_p }}


                    <button type="submit" class="btn btn-primary">Save</button>

                  </form>
                </div>




<br><br><br>



    <div class="container">

        <table class="table table-bordered" align="center">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Batsman</th>
              <th scope="col">Status</th>
              <th scope="col">Runs</th>
              <th scope="col">Balls</th>
              <th scope="col">4s</th>
              <th scope="col">6s</th>
              <th scope="col">SR</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mark</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>Jacob</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>Thornton</td>
              <td>Thornton</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
          </tbody>
        </table>

    </div>

    <br><br><br>


    <div class="container">

        <table class="table table-bordered" align="center">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Bowler</th>
              <th scope="col">Overs</th>
              <th scope="col">Maidens</th>
              <th scope="col">Wickets</th>
              <th scope="col">Average</th>
              <th scope="col">Economy</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mark</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>Jacob</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>Thornton</td>
              <td>Thornton</td>
              <td>Thornton</td>
            </tr>
            <tr>
              <td>Larry</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>the Bird</td>
              <td>@twitter</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>

    </div>

    <br><br><br>

    <div class="container">

        <table class="table table-bordered" align="center">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Recent</th>
            </tr>
          </thead>
        </table>

    </div>

{% endblock %}




