

{% extends 'organizer/base.html' %}



{% block title %}{{ organizer.get_full_name }} | Enter Score{% endblock %}

{% block body %}
    <br><br><br>
    <br><br><br>


      <div class="container recent_overs">

        <p><h1 class="shreyas">RECENT DELIVERIES:</h1></p>


     <table  class="scoretable">

              <tr>

                <td>ball 1</td>
                  <td>ball 2 </td>
                  <td>ball 3</td>
              </tr>
              <tr>
                <td>ball 4</td>
                <td>ball 5</td>
                  <td> ball 6</td>
              </tr>
            </table>



    <table  class="scoretable">

              <tr>

                <td>ball 1</td>
                  <td>ball 2 </td>
                  <td>ball 3</td>
              </tr>
              <tr>
                <td>ball 4</td>
                <td>ball 5</td>
                  <td> ball 6</td>
              </tr>
            </table>



              <table  class="scoretable">

              <tr>

                <td>ball 1</td>
                  <td>ball 2 </td>
                  <td>ball 3</td>
              </tr>
              <tr>
                <td>ball 4</td>
                <td>ball 5</td>
                  <td> ball 6</td>
              </tr>
            </table>



              <table  class="scoretable">

              <tr>

                <td>ball 1</td>
                  <td>ball 2 </td>
                  <td>ball 3</td>
              </tr>
              <tr>
                <td>ball 4</td>
                <td>ball 5</td>
                  <td> ball 6</td>
              </tr>
            </table>





             <table  class="scoretable">

              <tr>

                <td>ball 1</td>
                  <td>ball 2 </td>
                  <td>ball 3</td>
              </tr>
              <tr>
                <td>ball 4</td>
                <td>ball 5</td>
                  <td> ball 6</td>
              </tr>
            </table>
             <table  class="scoretable">

              <tr>

                <td>ball 1</td>
                  <td>ball 2 </td>
                  <td>ball 3</td>
              </tr>
              <tr>
                <td>ball 4</td>
                <td>ball 5</td>
                  <td> ball 6</td>
              </tr>
            </table>
             <table  class="scoretable">

              <tr>

                <td>ball 1</td>
                  <td>ball 2 </td>
                  <td>ball 3</td>
              </tr>
              <tr>
                <td>ball 4</td>
                <td>ball 5</td>
                  <td> ball 6</td>
              </tr>
            </table>
             <table  class="scoretable">

              <tr>

                <td>ball 1</td>
                  <td>ball 2 </td>
                  <td>ball 3</td>
              </tr>
              <tr>
                <td>ball 4</td>
                <td>ball 5</td>
                  <td> ball 6</td>
              </tr>
            </table>
             <table  class="scoretable">

              <tr>

                <td>ball 1</td>
                  <td>ball 2 </td>
                  <td>ball 3</td>
              </tr>
              <tr>
                <td>ball 4</td>
                <td>ball 5</td>
                  <td> ball 6</td>
              </tr>
            </table>
             <table  class="scoretable">

              <tr>

                <td>ball 1</td>
                  <td>ball 2 </td>
                  <td>ball 3</td>
              </tr>
              <tr>
                <td>ball 4</td>
                <td>ball 5</td>
                  <td> ball 6</td>
              </tr>
            </table>
             <table  class="scoretable">

              <tr>

                <td>ball 1</td>
                  <td>ball 2 </td>
                  <td>ball 3</td>
              </tr>
              <tr>
                <td>ball 4</td>
                <td>ball 5</td>
                  <td> ball 6</td>
              </tr>
            </table>
             <table  class="scoretable">

              <tr>

                <td>ball 1</td>
                  <td>ball 2 </td>
                  <td>ball 3</td>
              </tr>
              <tr>
                <td>ball 4</td>
                <td>ball 5</td>
                  <td> ball 6</td>
              </tr>
            </table>
             <table  class="scoretable">

              <tr>

                <td>ball 1</td>
                  <td>ball 2 </td>
                  <td>ball 3</td>
              </tr>
              <tr>
                <td>ball 4</td>
                <td>ball 5</td>
                  <td> ball 6</td>
              </tr>
            </table>
             <table  class="scoretable">

              <tr>

                <td>ball 1</td>
                  <td>ball 2 </td>
                  <td>ball 3</td>
              </tr>
              <tr>
                <td>ball 4</td>
                <td>ball 5</td>
                  <td> ball 6</td>
              </tr>
            </table>
             <table  class="scoretable">

              <tr>

                <td>ball 1</td>
                  <td>ball 2 </td>
                  <td>ball 3</td>
              </tr>
              <tr>
                <td>ball 4</td>
                <td>ball 5</td>
                  <td> ball 6</td>
              </tr>
            </table>


             <table  class="scoretable">

              <tr>

                <td>ball 1</td>
                  <td>ball 2 </td>
                  <td>ball 3</td>
              </tr>
              <tr>
                <td>ball 4</td>
                <td>ball 5</td>
                  <td> ball 6</td>
              </tr>
            </table>
       <table  class="scoretable">

              <tr>

                <td>ball 1</td>
                  <td>ball 2 </td>
                  <td>ball 3</td>
              </tr>
              <tr>
                <td>ball 4</td>
                <td>ball 5</td>
                  <td> ball 6</td>
              </tr>
            </table>
       <table  class="scoretable">

              <tr>

                <td>ball 1</td>
                  <td>ball 2 </td>
                  <td>ball 3</td>
              </tr>
              <tr>
                <td>ball 4</td>
                <td>ball 5</td>
                  <td> ball 6</td>
              </tr>
            </table>
      <table  class="scoretable">

              <tr>

                <td>ball 1</td>
                  <td>ball 2 </td>
                  <td>ball 3</td>
              </tr>
              <tr>
                <td>ball 4</td>
                <td>ball 5</td>
                  <td> ball 6</td>
              </tr>
            </table>
      <table  class="scoretable">

              <tr>

                <td>ball 1</td>
                  <td>ball 2 </td>
                  <td>ball 3</td>
              </tr>
              <tr>
                <td>ball 4</td>
                <td>ball 5</td>
                  <td> ball 6</td>
              </tr>
            </table>
      <table  class="scoretable">

              <tr>

                <td>ball 1</td>
                  <td>ball 2 </td>
                  <td>ball 3</td>
              </tr>
              <tr>
                <td>ball 4</td>
                <td>ball 5</td>
                  <td> ball 6</td>
              </tr>
            </table>
      <table  class="scoretable">

              <tr>

                <td>ball 1</td>
                  <td>ball 2 </td>
                  <td>ball 3</td>
              </tr>
              <tr>
                <td>ball 4</td>
                <td>ball 5</td>
                  <td> ball 6</td>
              </tr>
            </table>
       <table  class="scoretable">

              <tr>

                <td>ball 1</td>
                  <td>ball 2 </td>
                  <td>ball 3</td>
              </tr>
              <tr>
                <td>ball 4</td>
                <td>ball 5</td>
                  <td> ball 6</td>
              </tr>
            </table>

        </div>
       <br><br><br>


       <div class="container enter_score">
                <div class="score_details">
                <p> <h1>Fill the Details:</h1></p>

                   <form  name="score_form" method="POST">

                       {% csrf_token %}
                       {{ form.innings.label }} {{ form.innings }}<br>
                       {{ form.batting_team.label }}  {{ form.batting_team }}
                       {{ form.bowling_team.label }}  {{ form.bowling_team }}<br>
                       {{ form.ball_number.label }}   {{ form.ball_number }}<br>
                       {{ form.over_number.label }}    {{ form.over_number }}<br>
                        {{ form.run.label }}  {{ form.run }}<br>
                        {{ form.extra_type.label }}   {{ form.extra_type }}<br>
                       {{ form.extra_run.label }}  {{ form.extra_run }}<br>
                       {{ form.is_wicket.label }}     {{ form.is_wicket }}
                       {{ form.wicket_type.label }}   {{ form.wicket_type }}<br>








                    <button type="submit" class="btn btn-primary">Save</button>

                  </form>
                </div>
       <div class="score_pad">
        <div class="run_pad"  style="flex-grow: 2">
               <button class="run_button" onclick="document.forms['score_form']['run'].value=6  ">6</button>
               <button  class="run_button" onclick="document.forms['score_form']['run'].value=5  ">5</button>
               <button  class="run_button" onclick="document.forms['score_form']['run'].value=4  ">4</button>
               <button  class="run_button" onclick="document.forms['score_form']['run'].value=3  ">3</button>
               <button  class="run_button" onclick="document.forms['score_form']['run'].value=2  ">2</button>
               <button class="run_button" onclick="document.forms['score_form']['run'].value=1  ">1</button>
               <button class="run_button"  onclick="document.forms['score_form']['run'].value=0  ">0</button>
        </div>
         <br>
           <div  class="extra_type_pad" style="flex-grow: 2">

               <button onclick="document.forms['score_form']['extra_type'].value='Wide'  ">Wide</button>
               <button onclick="document.forms['score_form']['extra_type'].value='NoBall'  ">No ball</button>
               <button onclick="document.forms['score_form']['extra_type'].value='DeadBall'  ">Dead ball</button>
                <button class="run_button" onclick="document.forms['score_form']['extra_run'].value=6  ">6</button>
               <button  class="run_button" onclick="document.forms['score_form']['extra_run'].value=5  ">5</button>
               <button  class="run_button" onclick="document.forms['score_form']['extra_run'].value=4  ">4</button>
               <button  class="run_button" onclick="document.forms['score_form']['extra_run'].value=3  ">3</button>
               <button  class="run_button" onclick="document.forms['score_form']['extra_run'].value=2  ">2</button>
               <button class="run_button" onclick="document.forms['score_form']['extra_run'].value=1  ">1</button>
               <button class="run_button"  onclick="document.forms['score_form']['extra_run'].value=0  ">0</button>

        </div>
           <br>
           <div    class="wicket_type_pad" style="flex-grow: 1">

               <button onclick="document.forms['score_form']['wicket_type'].value='RunOut'  ">Runout</button>
               <button onclick="document.forms['score_form']['wicket_type'].value='Catch'  ">Catch</button>
               <button onclick="document.forms['score_form']['wicket_type'].value='Bowled'  ">Bowled</button>
               <button onclick="document.forms['score_form']['wicket_type'].value='Lbw' ">Lbw</button>
               <button onclick="document.forms['score_form']['wicket_type'].value='Stumps'  ">Stumps</button>
               <button onclick="document.forms['score_form']['wicket_type'].value='HitWicket'  ">Hitwicket</button>

           </div>
        </div>
       </div>


{% endblock %}