<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ batting_team }} vs {{ bowling_team }}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
      {% load staticfiles %}
    <link  rel="stylesheet" type="text/css" href="{% static 'cricket/login.css' %}">
  </head>

  <body class="text-center">

  <script >
        $(document).ready(function(){
          // Add smooth scrolling to all links
          $("a").on('click', function(event) {
            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
              // Prevent default anchor click behavior
              event.preventDefault();
              // Store hash
              var hash = this.hash;
              // Using jQuery's animate() method to add smooth page scroll
              // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
              $('html, body').animate({
                scrollTop: $(hash).offset().top
              }, 800, function(){
                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
              });
            } // End if
          });
        });
    </script>

  <div class="backgroundImageCVR">
    <div class="background-image"></div>
    <div class="content">

                <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
                  <header class="masthead mb-auto">
                    <div class="inner">
                      <h3 class="masthead-brand">Cricky</h3>
                      <nav class="nav nav-masthead justify-content-center" >
                        <a class="nav-link  nav-color"  href="{% url 'home_page' %} "><h5 style="color: darkred">Home</h5></a>

                        <a class="nav-link nav-color" href="{% url 'live' %}"><h5 style="color:darkred">Live Scores</h5></a>

                      </nav>
                    </div>
                  </header>

                    {% if messages %}

            <br><br><br><br>

                   {% for message in messages %}

                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show center" role="alert">

                          <strong> {{ message }}  </strong>

                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">

                          <span aria-hidden="true">&times;</span>

                          </button>

                    </div>

                   {% endfor %}

            {% endif %}

<br><br>
                   <div class="col-lg-20" style="margin-left: 100px">

    <div class="row">




                                  </div>
                              </div>

                      </div>


    <div class="col-md-6" style="margin-left: 350px">  <br><br>
        <div class="card h-90">
           <h2 class="card-header"><b>LIVE SCORES:<h4>{{ batting_team }} vs {{ bowling_team }}</h4></b></h2>

            <div class="card-body">
            <table class="table table-bordered" align="center">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Batsman</th>
                  <th scope="col">Status</th>
                  <th scope="col">Runs</th>
                  <th scope="col">Balls</th>
                  <th scope="col">4s</th>
                  <th scope="col">6s</th>
                  <th scope="col">SR</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><h6 style="color: black">{{ player1.player.get_full_name }}</h6></td>
                  <td><h6 style="color: black">{{ player1.status }}</h6></td>
                  <td><h6 style="color: black">{{ player1.batting_runs }}</h6></td>
                  <td><h6 style="color: black">{{ player1.batting_balls }}</h6></td>
                  <td><h6 style="color: black">{{ player1.sixes }}</h6></td>
                  <td><h6 style="color: black">{{ player1.fours }}</h6></td>
                  <td><h6 style="color: black">{{ player1.strike_rate }}</h6></td>
                </tr>
                 <tr>
                  <td><h6 style="color: black">{{ player2.player.get_full_name }}</h6></td>
                  <td><h6 style="color: black">{{ player2.status }}</h6></td>
                  <td><h6 style="color: black">{{ player2.batting_runs }}</h6></td>
                  <td><h6 style="color: black">{{ player2.batting_balls }}</h6></td>
                  <td><h6 style="color: black">{{ player2.sixes }}</h6></td>
                  <td><h6 style="color: black">{{ player2.fours }}</h6></td>
                  <td><h6 style="color: black">{{ player2.strike_rate }}</h6></td>
                </tr>
              </tbody>
            </table>






            <table class="table table-bordered" align="center">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Bowler</th>
                  <th scope="col">Runs</th>
                  <th scope="col">Overs</th>
                  <th scope="col">Maidens</th>
                  <th scope="col">Wickets</th>
                  <th scope="col">Average</th>
                  <th scope="col">Economy</th>
                </tr>
              </thead>
              {% for player in bowling_team_players %}
              <tbody>
                <tr>
                  <td><h6 style="color: black">{{ player.player.get_full_name }}</h6></td>
                  <td><h6 style="color: black">{{ player.bowling_runs }}</h6></td>
                  <td><h6 style="color: black">{{ player.bowling_overs }}</h6></td>
                  <td><h6 style="color: black">0</h6></td>
                  <td><h6 style="color: black">{{ player.wickets }}</h6></td>
                  <td><h6 style="color: black">{{ player.bowling_avg }}</h6></td>
                  <td><h6 style="color: black">{{ player.economy }}</h6></td>
                </tr>
              </tbody>
                            {% endfor %}
            </table>


            <table class="table table-bordered" align="center">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Recent</th>
                </tr>
              </thead>
            <tbody>
             {% for recent in recent %}
            <tr>
                <td><h6 style="color: black">{{ recent.over_number }}.{{ recent.ball_number }} : {{ recent.description }}</h6></td>
            </tr>
             {% endfor %}
            </tbody>
            </table>

            </div>
        </div>
    </div>
       </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
  </body>





</html>



