{% extends 'organizer/base.html' %}


{% block title %}{{ organizer.get_full_name }}  scores{% endblock %}

{% block body %}
    <br><br><br>
<br><br><br><br>


       <div class="container">
       <table>
       {% for player in players_team1 %}

              <tr>
                  <td> {{ player.first_name }} ..{{ player.last_name}}</td>
                  <td> runs  </td>
                  <td> is_out </td>
              </tr>
              {% endfor %}
          </table>
       </div>


      <div class="container">
       <ul>
           {% for  score in all_scores %}
           <li> {{ score }}</li>
           {% endfor %}
       </ul>
       <br><br>
      {% if match.match_status != 2 %}
      <p>enter score</p>
          <a href="{% url 'tournament:enter_score' tournament_id match.id  team1.id team2.id %}">first innings</a>

           <br> <br>

             <a href="{%  url 'tournament:enter_score' tournament_id  match.id team2.id team1.id %}">second innings</a>
       {% endif %}
        </div>

{% endblock %}