
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <title>{% block title%}{% endblock %}</title>






<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" href="#">Navbar</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            {% if user.username %}
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'organizer:home' %}">Home <span class="sr-only">(current)</span></a>
                  </li>
            {% else %}
                 <li class="nav-item active">
                    <a class="nav-link" href="{% url 'organizer:organizers_page' %}">Home <span class="sr-only">(current)</span></a>
                  </li>
            {% endif %}

          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>

          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>


    <form class="form-inline my-2 my-lg-0 ">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

      {% if user.username %}

              <ul class="navbar-nav  navbar-right">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                 <a href="{% url 'organizer:view_profile' %}">View Profile</a>
                  <a href="{% url 'organizer:edit_profile'  %}">Edit Profile</a>
                  <div class="dropdown-divider"></div>
                  <a href="{% url 'organizer:change_password' %}">Change Password</a>
                    <a href="{% url 'organizer:logout' %}">Logout</a>
                </div>
              </li>
              </ul>
      {% else%}


      <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'organizer:signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{% url 'organizer:login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>

      {% endif %}

  </div>
</nav>









{% block body %}

{%  endblock %}