


{% load staticfiles %}




    <link  rel="stylesheet" type="text/css" href="{% static 'organizer/base.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       <link  rel="stylesheet" href={% static 'tournament/js_file/jquery.localscroll.js' %} type="text/javascript">
       <link  rel="stylesheet" href="{% static 'tournament/js_file/jquery.scrollTo.js' %}" type="text/javascript">




      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark mb-5" >



        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">

               <li class="nav-item ">
                 <a class="nav-link" href="{% url 'organizer:home' %}"> <h5>Home</h5> </a>
                </li>


                <li class="nav-item ">
                  <a class="nav-link" href="{% url 'search:search' %}"><h5>Search </h5><span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'tournament:tournament' %}"><h5>My Tournaments</h5></a>
                </li>


          </ul>


            <ul>

                  <li class="nav navbar-nav  dropdown align-right ">

                    <a class="nav-link dropdown-toggle nav-item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Profile
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="border: 2px solid black">

                        <li class="drop_item">
                            <a href="{% url 'organizer:view_profile' %}"  style="color:#17252A;">View Profile</a>

                        </li>
                          <div class="dropdown-divider">

                         </div>

                        <li class="drop_item">
                            <a href="{% url 'organizer:edit_profile' %}"  style="color:#17252A;">Edit Profile</a>

                         </li>
                        <div class="dropdown-divider">

                        </div>

                       <li class="drop_item">
                           <a href="{% url 'organizer:change_password'  %}"  style="color:#17252A;">Change Password</a>
                         </li>
                        <div class="dropdown-divider">

                        </div>



                       <li class="logout"> <a href="{% url 'logout' %}"   style="color:darkred">Logout</a>
</li>
                    </ul>
                  </li>
           </ul>

            <ul>
                <form class="nav navbar-nav navbar-right form-inline" method="GET"action="{% url 'search:nav_search_matches' %}" >
                 <input class="form-control mr-sm-2" type="text"name="q" placeholder="Search" aria-label="Search">                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </ul>


        </div>
      </nav>

<body class="mt-5">
    {% block body %}



    {% endblock %}
</body>