{% extends 'organizer/base.html' %}
<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
</head> -->
{% block title %}Change password {% endblock %}

{% block body %}

        <p><h1>Your credentials</h1></p>

           <form  method="POST">

            {% csrf_token %}
                 {% for field in form %}

                     <div class="form-group">

                         <b>{{ field.label_tag }}</b>
                         <p> {{ field }}</p>

                     </div>

                 {% endfor %}

            <button type="submit" class="btn btn-primary">Save Changes</button>

          </form>



  <!--      </div>

</body>
</html>  -->


{% endblock %}