{% extends 'organizer/base.html' %}
<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
</head> -->
{% block title %}Change password {% endblock %}

{% block body %}

    {% load staticfiles %}
    {% load widget_tweaks %}
    <link  rel="stylesheet" type="text/css" href="{% static 'organizer/base.css' %}">

       <br><br> <p><h1>Your credentials</h1></p>
    <div  class="container col-md-6" style="border: 3px double #17252A;padding-top: 40px">
       {% load widget_tweaks %}
           <form  method="POST">

            {% csrf_token %}



                     <div class="form-group row">

                         <div class="col-md-2">


                         </div>

                         <div class="col-lg-8">
                          {% render_field form.old_password placeholder="old password" class="form-control" %}

                         </div>







                     </div>

                      <div class="form-group row">

                         <div class="col-md-2">


                         </div>

                         <div class="col-lg-8">
                      {% render_field form.new_password1 placeholder="set new password" class="form-control" %}

                         </div>




                     </div>



                      <div class="form-group row">

                         <div class="col-md-2">


                         </div>

                         <div class="col-lg-8">
                          {% render_field form.new_password2 placeholder="new password confirmation" class="form-control" %}

                         </div>




                     </div>

               <div class=" row">
                   <button type="submit" class="btn btn-primary mx-auto">Save Changes</button>
                </div>
          </form>
    </div>



  <!--      </div>

</body>
</html>  -->


{% endblock %}