
{% extends 'organizer/base.html' %}

{% block title %} Profile{% endblock %}

{% block body %}
 <div  class="mt-5">
    {% load staticfiles %}
    <link  rel="stylesheet" type="text/css" href="{% static 'organizer/base.css' %}">

    {% if user.username %}

       <div >
           <br><br>

             <div class="container col-md-6 my-3 " style="border: 4px double #545454;padding-top: 60px;">
           <form  method="POST">

            {% csrf_token %}
           {% load widget_tweaks %}
                 {% for field in form %}

                     <div class="form-group row">

                         <div class="col-md-2">


                         </div>

                         <div class="col-md-4">
                          {{ field.label_tag }}

                         </div>

                          <div class="col-md-6">
                             {{  field }}


                         </div>




                     </div>

                 {% endfor %}
               <div class=" row">
                   <button type="submit" class="btn btn-primary mx-auto">Save Changes</button>
                </div>
          </form>
       </div>
        </div>

    {% else %}

            <p><a href="{% url 'organizer:login' %}">You are not logged in.Click here to login</a></p>

    {% endif %}

    </div>

{% endblock %}


