{% extends 'organizer/base.html' %}

{% block title %} Profile{% endblock %}

{% block body %}

    {% load staticfiles %}
    <link  rel="stylesheet" type="text/css" href="{% static 'organizer/base.css' %}">
    <br><br><br>
        {% if messages %}

       {% for message in messages %}

        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">

              <strong> {{ message }}  </strong>

              <button type="button" class="close" data-dismiss="alert" aria-label="Close">

              <span aria-hidden="true">&times;</span>

              </button>

        </div>


       {% endfor %}


    {% endif %}


      <div class="container col-md-6">



            <div class="card my-5" >
                        <div class="card-header "><h2 class="center">Your Profile</h2></div>
                        <div class="card-body">
                          <div class="row">

                                {% for field_name, field in organizer.items %}
                                    <div class=" col-md-2">


                                    </div>
                                   <div class="col-md-4">

                                        <b>{{ field_name }}:</b>

                                    </div>
                                   <div class="col-md-5">


                                         <p> {{ field }}</p>
                                    </div>
                                     <div class="col-md-1">


                                    </div>

                                {% endfor %}
                          </div>
                      </div>
                      </div>







           <p><a href="{% url 'organizer:edit_profile' %}"><h4>Edit Profile</h4></a></p>

        </div>



{% endblock %}

