{% extends 'tournament/base.html' %}

{% block title %}{{ current_tournament.name }} | Teams{% endblock %}

{% block body %}

<div class="container">

    <a href="{% url 'tournament:create_team' current_tournament.id %}"><h2><b>Add Teams</b></h2></a>

    <p><h2>List of Teams:</h2></p>

    {% for team in teams %}

        <a href="{% url 'tournament:team_players' team.id %}"><h3>{{ team.name }}</h3></a>

    {% endfor %}
    <a href="{% url 'tournament:matches' current_tournament.id %}">Matches</a>
</div>

{% endblock %}