{% extends 'organizer/base.html' %}

{% block title %}Add Team{% endblock %}

{% block body %}

    {% load staticfiles %}
    <link  rel="stylesheet" type="text/css" href="{% static 'organizer/base.css' %}">

       <div class="container">

        <p><h1>Fill the Details:</h1></p>

           <form  method="POST">

            {% csrf_token %}
                 {% for field in form %}

                     <div class="form-group">

                     {{ field.errors }}
                     <b>{{ field.label_tag }}</b>
                     <p> {{ field }}</p>

                     </div>

                 {% endfor %}

            <button type="submit" class="btn btn-primary">Save</button>

          </form>
        </div>

{% endblock %}










