{% extends 'player/base.html' %}

{% block title %}Players{% endblock %}

{% block body %}
<br><br><br>
<div class="container">

    <p><h2>List of Players in Your Team:</h2></p>

    {% for player in current_players %}

        <a href="{% url 'tournament:team_players_add' team.id  player.id %}"><h3>{{ player.get_full_name }}</h3></a>

    {% endfor %}

    <p><h2>List of Players You can Add:</h2></p>

    {% for player in available_players %}

        <a href="{% url 'tournament:team_players_add' team.id  player.id %}"><h3>{{ player.get_full_name }}</h3></a>

    {% endfor %}

</div>

{% endblock %}