{% extends 'organizer/base.html' %}

{% block title %}{{ current_tournament.name }} | Teams{% endblock %}

{% block body %}
<br><br>
<div class="container">


    <br><br><a href="{% url 'tournament:create_team' organizer.id current_tournament.id %}"><h2><b>Add Teams</b></h2></a>

    <p><h2>List of Teams:</h2></p>

    {% for team in teams %}

        <a href="{% url 'tournament:team_players' team.id %}"><h3>{{ team.name }}</h3></a>

    {% endfor %}
    <a href="{% url 'tournament:all_matches' current_tournament.id %}">Matches</a>
</div>

{% endblock %}