.submit_buttons{
    background-color: #606468;
    color: whitesmoke;



}
.submit_buttons:hover{
    background-color: #2c3338;
     color: whitesmoke;
}

div.livematches{
    height: 300px;
    overflow: scroll;
}


div.livetournaments{
    height: 300px;
    overflow: scroll;
}


div.signup_form{

}

.header{

    text-align: center;


}